.modal {
  position: relative;
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: rgba($color: #bbb, $alpha: 0.3);
    width: 100vw;
    height: 100vh;
  }

  &__title {
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 2px;
    border: none;
    background-color: #fff;
    transform: scale(60%);
    transition: all 300ms;

    &:hover {
      transform: scale(70%);
    }
  }

  &__form {
    display: grid;
    gap: 25px;
  }

  &__label {
    position: relative;
  }

  &__error {
    position: absolute;
    bottom: -50%;
    left: 5px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: crimson;
  }

  &__input {
    border: 1px solid rgb(133, 133, 133);
    border-radius: 2px;
    padding: 10px;
    width: 400px;

    &:focus {
      border: none;
      outline: 2px solid #ff7f50;
    }
  }

  &__button {
    border: 1px solid #ff7f50;
    background-color: #ff7f50;
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    transition: all 300ms;

    &:hover {
      background-color: #fff;
      color: #ff7f50;
    }
  }
}
