<div class="container">
  <main class="main">
    <section class="rooms">
      <ul class="rooms__list" *ngIf="rooms.length; else notRooms">
        <li class="room" *ngFor="let room of rooms">
          <a
            class="room__link"
            [routerLink]="['/room', room.id]"
          >
            <p class="room__title">{{ room.id }}</p>
            <p class="room__title">{{ room.name }}</p>
          </a>
        </li>
      </ul>

      <ng-template #notRooms>
        <div class="not-rooms">
          <p class="not-rooms__message">
            Create a room
          </p>
        </div>
      </ng-template>

      <app-loader
        *ngIf="isLoader"
      >
      </app-loader>
    </section>
  </main>

  <app-room
    *ngIf="selectedRoom !== null; else notRoom"
    class="app-room"
    [room]="selectedRoom"
  ></app-room>

  <ng-template #notRoom>
    <div class="not-room">
      <p class="not-room__message">
        Select a room
      </p>
    </div>
  </ng-template>
</div>
